<% modal_size ||= 600 %>
<div class="modal fade" id="<%= modal_name %>_modal" tabindex="-1" aria-labelledby="<%= modal_name %>_modal_label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
	<h5 class="modal-title"><%= modal_name.split('_').map(&:capitalize).join(' ') %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
	  <center><img src="/images/help/<%= modal_name %>.png" width=<%= modal_size %>></center>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

